html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 50vh;
    width: 50vw;
    grid-template-areas:
    "a a a"
    "b1 b2 c"
    "d d c";
    gap: 10px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.a {
    background-color: blueviolet;
    grid-area: a;
}

.b1 {
    background-color: rgb(48, 26, 68);
    grid-area: b1;
}

.b2 {
    background-color: rgb(40, 29, 68);
    grid-area: b2;
}

.c {
    background-color: rgb(76, 77, 117);
    grid-area: c;
}

.d {
    background-color: rgb(100, 54, 228);
    grid-area: d;
}

@media screen and (max-width: 550px) {
    .container {
        grid-template-areas: 
        "a a a"
        "b1 b1 b1"
        "b1 b1 b1"
        "b2 b2 b2"
        "b2 b2 b2"  
        "c c c"
        "c c c"
        "d d d"       
        "d d d";
        width: 100%;
        height: 600px;
   }
}