html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 50vh;
    width: 50vw;
    grid-template-areas:
    "a b1"
    "a b2"
    "a b3"
    "c c";
    gap: 10px;
    margin: auto;
    background-color: rgb(39, 27, 27);
}

.a {
    background-color: #ce8e93;
    grid-area: a;
}

.b1 {
    background-color:#976464;
    grid-area: b1;
}

.b2 {
    background-color: #88b8b8;
    grid-area: b2;
}

.b3 {
    background-color: #a37979;
    grid-area: b3;
}

.c {
    background-color: rgb(255, 183, 183); 
    grid-area: c;
}

@media screen and (max-width: 550px) {
    .container {
        grid-template-areas: 
        "a a"
        "a a"
        "a a"
        "b1 b1"
        "b2 b2"
        "b3 b3"
        "c c"
        "c c";
        width: 90%;
        height: 700px;
    }
}

